@model ArticleDetailsVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@* ~/documents/@Model.ImageName.ElementAtOrDefault(2)

    per te vendosur te foto e vogel nje nga fotot e artikullit

*@

@section css{
    <style>
        .img {
            overflow-x: scroll;
            scrollbar-base-color: red;
            display: flex;
            flex-direction: row;
        }
    </style>
    <link href="~/lib/lightbox/css/lightbox.css" rel="stylesheet" />
}


<div class="col-md-12 col-lg-8 main-content">
    <div class="container">
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-12 main-content">
                <div class="col-md-12 col-lg-12" style="margin-bottom:0px;padding-bottom:10px;">
                    <a href="~/documents/@Model.ImageName.First()" data-lightbox="roadtrip" style="min-width:100%;">
                        <img data-lightbox="crr" class="img-thumbnail img-fluid " src="~/documents/@Model.ImageName.First()" alt="Not Found" style="min-width:100%;max-height:500px;" />
                    </a>
                </div>
                @*<img src="~/documents/@Model.ImageName.FirstOrDefault()" alt="Image" class="img-fluid mb-5" style="width:730px;">*@
                @if (Model.ImageName.Count > 4)
                {
                    <div class="col-md-12 col-lg-12 img " style="margin-top:0px;padding-top:10px;">
                        @for (int i = 1; i < Model.ImageName.Count; i++)
                        {
                            <a href="~/documents/@Model.ImageName[i]" data-lightbox="roadtrip">
                                <img data-lightbox="crr" class="img-thumbnail" src="~/documents/@Model.ImageName[i]" alt="Not Found" style="height:130px;max-width:none;" />
                            </a>

                        }
                    </div>
                }

                <div class="post-meta" style="padding-top:20px;">
                    <span class="author mr-2"><img src="~/images/person_1.jpg" alt="Colorlib" class="mr-2"> Emri i faqes</span>&bullet;
                    <span class="mr-2">@Model.DatePublished </span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <h1 class="mb-4">@Model.Title</h1>
                @foreach (var item in Model.Tag)
                {
                    <a class="category mb-5">
                        @item
                    </a>
                }
                <div class="post-content-body">
                    <div style="font-family:'Proxima Nova' , sans-serif;">
                        @Html.Raw(Model.Body)
                    </div>
                </div>
                <div class="pt-5">
                    <p>
                        Tags:
                        @foreach (var x in Model.Tag.Take(4))
                        {
                            <a asp-controller="HomePage" asp-action="Index" asp-route-tag="@x">
                                #@x.ToLower()
                            </a>}
                    </p>
                </div>

                <a asp-controller="AdmArticle" asp-action="Details" asp-route-id="@Model.Id"></a>
            </div>
            <!-- END main-content -->
        </div>

    </div>
</div>

<div class="col-md-12 col-lg-4 sidebar">
    <div class="sidebar-box search-form-wrap">
        <form action="~/" class="search-form">
            <div class="form-group">
                <span onclick="Search()" class="icon fa fa-search"></span>
                <input type="search" class="form-control" id="search" name="search" placeholder="Kerko ketu">
            </div>
        </form>
    </div>
    <!-- END sidebar-box -->
    @await Component.InvokeAsync("Biography")
    <!-- END sidebar-box -->
    <div class="sidebar-box">
        <h3 class="heading" style="text-transform:uppercase;">Me te Klikuarat</h3>
        <div class="post-entry-sidebar">
            <ul>
                <li>
                    <a href="">
                        <img src="" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>How to Find the Video Games of Your Youth</h4>
                            <div class="post-meta">
                                <span class="mr-2">March 15, 2018 </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>How to Find the Video Games of Your Youth</h4>
                            <div class="post-meta">
                                <span class="mr-2">March 15, 2018 </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>How to Find the Video Games of Your Youth</h4>
                            <div class="post-meta">
                                <span class="mr-2">March 15, 2018 </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END sidebar-box -->
    <div class="sidebar-box">
        @await Component.InvokeAsync("Categories")
    </div>

</div>



<div class="row">
    <div class="col-md-12">
        <h4 class="mb-3" style="padding-left:40px;text-transform:uppercase;">Te ngjashme</h4>
    </div>
</div>
<div class="container main-content col-md-12" style="margin-left:5px; margin-right:10px; padding-left:35px;padding-right:35px;">
    <div class="row"> @await Component.InvokeAsync("RelatedPost", Model.Id)</div>
</div>

@section Scripts{
    <script src="~/lib/lightbox/js/lightbox.js"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>
}
